extends layout

block content
    section.homepage--hero
        .site-width
            h1 Making a list, checking it twice
            h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, molestiae.